# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Default encoding set to utf-8
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# python files
[*.py]
indent_style = space
indent_size = 4

# json files
[*.json]
indent_style = space
indent_size = 4

# markdown files
[*.md]
indent_style = space
indent_size = 4
